<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-toolbar>
            <span>16:9</span>
            <span>1:1</span>
            <span>SEO</span>
        </mat-toolbar>
        <div class="text"><b>Helyettesítő szöveg:</b> A football rejtelmei</div>
        <div class="text"><b>Keresőbarát útvonal:</b> a_football_rejtelmei</div>
        <div class="text"><b>Képcím:</b> A football rejtelmei</div>
        <button mat-icon-button class="left-btn" routerLink="/second-picture">
          <mat-icon class="rotate">double_arrow</mat-icon>
        </button>
        <button mat-icon-button class="right-btn">Done</button>
    </mat-drawer>
    <mat-drawer-content>
        <image-cropper></image-cropper>
    </mat-drawer-content>
</mat-drawer-container>
